ul li{
    list-style: none;
    
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    display: flex;
    gap: 10px;
}
.img img{
    width: 164px;
}
*{
    margin: 0;
    padding: 0;
}
.side span{
    padding-right: 10px;
    color: #434343;
}
header{
    background-color: #F6F6F6;
    border: 1px solid darkgray;
    max-width: 85vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    height: 75px;
    max-height: 200px
    
}
.tabs ul li{
    font-weight:200
    ;
    font-size:medium;
    display: flex;
    align-items: center;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    color: #434343;
}
.side button{
    border-radius: 3px;
    background-color: #FFD741;
    color: #2E2E2E;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    border: none;
    padding: 12px 15px
}
.side{
    margin-right: 65px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-size:medium;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
}
.title{
    display: flex;
    align-items: center;
    font-size: 50px;
}
.title img{
    width: 40px;
    margin-left: 15px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 522px;
    font-size: larger;
    margin-top: 34px;
    color: gray;
    font-weight:lighter;
}
.lul button{
    background-color: #FFD741;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}
.version img{
    width: 70px;
    height: 70px;
    margin-right: 10px;

}
.ber{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.download{
    color: #808080;
    font-size:30px;
    cursor: pointer;
}
.ver2{
    color: #808080;
    margin-left: 14px;
    margin-top: 8px;
}
.card{
    height: 200px;
    width: 380px;
    border-radius: 7px;
    background-color: #F2F0EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    
}
.bu{
    background-color: #FFD741;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    margin-top: 41px;
    cursor: pointer;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #F6F6F6;
    border: 1px solid darkgray;
    max-width: 85vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    height: 60px;
    max-height: 200px

}
.copy{
    font-size: 20px;
    font-weight: bold;
}
